<!DOCTYPE html>
<html>
<head>
    <title>Список идей</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Список идей</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>activity</th>
                    <th>type</th>

                </tr>
            </thead>
            <tbody>
                {% for idea in ideas %}
                <tr>
                    <td>{{ idea.activity }}</td>
                    <td>{{ idea.type }}</td>
                    <td>
                        <a href="{{ url_for('show_ideas', user_id=user.id) }}" class="btn btn-primary">Посмотреть пользователя</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>ml>